[Unit]
Description=daphne server script for Django channels
After=network.target

[Service]
User=honakm
Group=honakm
WorkingDirectory=/home/honakm/channels
ExecStart=/home/honakm/channels/venv/bin/daphne -b 0.0.0.0 -p 8000 forge.asgi:application
Restart=always

[Install]
WantedBy=multi-user.target
